@import "~styles/variables";
@import "~styles/utilities";

.page-esop {
  &__banner {
    height: auto;
    background-image: url("../../../../assets/img/esop/banner-mobile.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 48px 20px;
  }

  &__stable-system {
    width: 100%;
    ul {
      width: 100%;
    }
    + div {
      &::before {
        border-radius: 4px;
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        content: "";
        width: 100%;
        height: 50%;
      }
    }
  }
}
@include generateStyleByBreakpoint("sm") {
  .page-esop {
    &__banner {
      background-image: url("../../../../assets/img/esop/banner-table.svg");
      height: 288px;
    }
    &__stable-system {
      width: 814px;
      align-self: flex-end;
      ul {
        width: 465px;
      }
      img {
        height: 300px;
        right: 552px;
        top: 46px;
      }
    }
  }
}

@include generateStyleByBreakpoint("lg") {
  .page-esop {
    &__banner {
      background-image: url("../../../../assets/img/esop/banner.svg");
      height: 432px;
    }
    &__stable-system {
      width: 1056px;
      ul {
        width: 585px;
      }
      img {
        height: 350px;
        right: 691px;
        top: 70px;
      }
    }
    &__service {
      margin-top: 432px;
      position: relative;
      & > ul > li {
        padding-top: 109px;
        min-width: 418px;
        height: 505px;
        img {
          position: absolute;
          width: 200px;
          top: 0;
          left: 50%;
          transform: translateX(-50%) translateY(-50%);
        }
        & > ul {
          & > li {
            &::before {
              display: block;
              content: url("../../../../assets/img/esop/list-icon.svg");
              width: 30px;
              margin-right: 0.75rem;
            }
          }
        }
        &:first-of-type {
          transform: translateY(-302px);
          & > ul {
            padding-left: 5rem;
          }
        }
        &:nth-of-type(2) {
          transform: translateX(-2rem) translateY(-241px);
          & > ul {
            padding-left: 3.125rem;
          }
        }
        &:nth-of-type(3) {
          transform: translateX(-4rem) translateY(-330px);
          & > ul {
            padding-left: 6.25rem;
          }
        }
        &:nth-of-type(odd) {
          background-image: url("../../../../assets/img/esop/service-bg-dark.svg");
        }
        &:nth-of-type(even) {
          background-image: url("../../../../assets/img/esop/service-bg-light.svg");
        }
      }
    }
  }
}
