@import "~styles/variables";
@import "~styles/utilities";
@import "~styles/libary";

.component-header {
  height: 3.75rem;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);

  &__logo {
    margin-right: 50px;
    cursor: pointer;
  }

  &__item {
    height: 2rem;
    min-width: 100px;
    &:not(:last-of-type) {
      margin-right: 1.5rem;
    }
  }

  &__mobile-menu {
    top: 3.75rem;
    left: 0;
    height: calc(100vh - 3.75rem);
  }
}

@each $level, $value in $grid-breakpoints {
  @include generateStyleByBreakpoint($level) {
    .component-header {
      @if ($level == "lg") {
        height: 100px;
        &__item {
          &:not(:last-of-type) {
            margin-right: 3rem;
          }
        }

        &__logo {
          margin-right: 70px;
        }
      }
      &__container {
        max-width: getContainerWidth($level);
      }
    }
  }
}
