$white-light: (
  1: #ffffff,
  2: #f9f9f9,
);

$white-dark: (
  1: #ffffff,
  2: #f9f9f9,
);

$black-light: (
  1: #232323,
  2: #454545,
);

$black-dark: (
  1: #232323,
  2: #454545,
);

$orange-light: (
  1: #ff7a00,
);

$orange-dark: (
  1: #e66e00,
);

$green-light: (
  1: #0aa03d,
  2: #77b867,
);

$green-dark: (
  1: #77b867,
  2: #8dd37b,
);

$red-light: (
  1: #ef2500,
);

$red-dark: (
  1: #ef2500,
);

$yellow-light: (
  1: #ffd707,
);

$yellow-dark: (
  1: #ffd707,
);

$gray-light: (
  1: #c2c2c2,
  2: #6d6d6d,
);

$gray-dark: (
  1: #c2c2c2,
  2: #6d6d6d,
);

$blue-light: (
  1: #85869e,
  2: #383961,
);

$blue-dark: (
  1: #85869e,
  2: #383961,
);

$box-shadow-light: (
  1: 0px 8px 12px rgba(0, 0, 0, 0.03),
  2: 0px 4px 20px rgba(0, 0, 0, 0.1),
);

$box-shadow-dark: (
  2: 0px 4px 20px rgba(0, 0, 0, 0.9),
);

$light-theme: (
  "white": $white-light,
  "black": $black-light,
  "green": $green-light,
  "blue": $blue-light,
  "orange": $orange-light,
  "yellow": $yellow-light,
  "gray": $gray-light,
  "red": $red-light,
);

$dark-theme: (
  "white": $white-dark,
  "black": $black-light,
  "green": $green-dark,
  "blue": $blue-dark,
  "orange": $orange-dark,
  "yellow": $yellow-dark,
  "gray": $gray-dark,
  "red": $red-dark,
);
