// 全局設定

* {
  padding: 0;
  margin: 0;
  [data-required]:empty:before {
    content: "-";
  }
}

ul,
ol {
  list-style-position: inside !important;
}

ol {
  list-style-type: decimal;
}

//擋掉原本chrome內建的date picker
input::-webkit-calendar-picker-indicator {
  display: none;
}

html {
  font-size: 16px; //1rem
  &[theme="dark"] body {
    color: map-get(map-get($dark-theme, "black"), 1);
    background-color: map-get(map-get($dark-theme, "white"), 2);
    @include generateThemeColor($dark-theme);
    @include generateShadow($box-shadow-dark);
  }
  &[theme="light"] body {
    color: map-get(map-get($light-theme, "black"), 1);
    background-color: map-get(map-get($light-theme, "white"), 2);
    @include generateThemeColor($light-theme);
    @include generateShadow($box-shadow-light);
  }
  @include generateBaseStyle();
  @each $level in map-keys($grid-breakpoints) {
    @include generateStyleByBreakpoint($level) {
      main {
        box-sizing: content-box;
        max-width: getContainerWidth($level);
        margin: 0 auto;
      }
      @include generateBaseStyle($level);
    }
  }
}

body {
  padding: 0;
  margin: 0;
  overflow-anchor: none;
  overflow: hidden auto;
  font-family: "Open sans", "SF pro" !important;
  &:lang(zh-CN) {
    font-family: "Noto Sans SC", "Noto Sans TC", "Microsoft YaHei",
      "Microsoft jhenghei" !important;
  }
  &:lang(zh-HK) {
    font-family: "Noto Sans TC", "PingFang TC", "Microsoft jhenghei" !important;
  }
}

input {
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    appearance: none;
  }
  &[type="number"] {
    -moz-appearance: textfield;
  }
}

@include generateStyleByBreakpoint("xs") {
  html {
    span,
    ul,
    ol {
      line-height: 1.25rem !important;
    }
  }
}

@include generateStyleByBreakpoint("sm") {
  html {
    span,
    ul,
    ol {
      line-height: 1.875rem !important;
    }
  }
}

.code-snippet {
  @extend .bg-gray-1_60;
  @extend .border;
  @extend .border-gray-1;
  @extend .text-orange-1;
  @extend .border-radius-sm;
  @extend .py-1;
  @extend .px-2;
}
