@import "~styles/variables";
@import "~styles/utilities";

.page-trust {
  &__banner {
    width: 100%;
    background-image: url("../../../../assets/img/trust/banner.svg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 48px 20px;
    h1:nth-of-type(2) {
      background: linear-gradient(
        to top,
        rgba(255, 215, 7, 1),
        rgba(255, 153, 0, 1),
        rgba(239, 37, 0, 1)
      );
      background: -webkit-linear-gradient(
        to top,
        rgba(255, 215, 7, 1),
        rgba(255, 153, 0, 1),
        rgba(239, 37, 0, 1)
      );
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
    }

    p {
      max-width: 100%;
    }
  }

  &__advance {
    width: 100%;
    background-image: url("../../../../assets/img/trust/advance.svg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px 20px 54px;
    h3 {
      font-size: 1.375rem !important;
    }
    ul {
      li {
        img {
          width: 2rem;
          height: 2rem;
        }
        flex-grow: 1;
        flex-shrink: 1;
        box-shadow: 0.25rem 0.25rem 0px 0px map-get($orange-light, 1);
      }
    }
  }

  &__security {
    li {
      box-shadow: 0 0.25rem 0 0 map-get($orange-light, 1);
    }
  }

  &__customer {
    li {
      img {
        width: 2.5rem;
      }
    }
  }
}

@include generateStyleByBreakpoint("sm") {
  .page-trust {
    &__banner {
      height: 416px;
      padding: 118px 0 0 105px;
      p {
        max-width: 500px;
      }
    }
    &__advance {
      padding-left: 0;
      padding-right: 0;
      margin: 70px auto 0;
      h3 {
        font-size: 1.75rem !important;
      }
      ul {
        max-width: 900px;
        li {
          img {
            width: 2.25rem;
            height: 2.25rem;
          }
          flex-basis: 400px;
          &:nth-child(odd) {
            margin-right: 1rem;
          }
        }
      }
    }
    &__customer {
      li {
        img {
          width: 5rem;
        }
      }
    }
  }
}

@include generateStyleByBreakpoint("lg") {
  .page-trust {
    &__banner {
      height: 680px;
      padding: 212px 0 0 128px;
      p {
        max-width: 600px;
      }
    }
    &__advance {
      margin-top: 140px;
      padding-top: 60px;
      padding-bottom: 100px;
      ul {
        max-width: 1200px;
        li {
          img {
            width: 3rem;
            height: 3rem;
          }
          flex-basis: 570px;
        }
      }
      h3 {
        font-size: 2.25rem !important;
      }
    }
  }
}
