@import "~styles/variables";
@import "~styles/utilities";

.page-trust {
  &__banner {
    height: 320px;
    background-image: url("../../../../assets/img/trust/mobile/banner-mobile.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  &__advance {
    width: 100%;
    background-image: url("../../../../assets/img/trust/advance.svg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px 20px 54px;
    h3 {
      font-size: 1.375rem !important;
    }
    ul {
      li {
        img {
          width: 2rem;
          height: 2rem;
        }
        // flex-grow: 1;
        // flex-shrink: 1;
        align-items: stretch;
        box-shadow: 0.25rem 0.25rem 0px 0px map-get($orange-light, 1);
      }
    }
  }

  &__security {
    li {
      box-shadow: 0 0.25rem 0 0 map-get($orange-light, 1);
    }
  }

  &__customer {
    li {
      img {
        width: 2.5rem;
      }
    }
  }
}

@include generateStyleByBreakpoint("sm") {
  .page-trust {
    &__banner {
      height: 288px;
      background-image: url("../../../../assets/img/trust/desktop/banner.svg");
    }
    &__advance {
      padding-left: 0;
      padding-right: 0;
      margin: 70px auto 0;
      h3 {
        font-size: 1.75rem !important;
      }
      ul {
        max-width: 900px;
        li {
          min-height: 176px;
          img {
            width: 2.25rem;
            height: 2.25rem;
          }
          flex-basis: 400px;
          &:nth-child(odd) {
            margin-right: 1rem;
          }
        }
      }
    }
    &__customer {
      li {
        flex-basis: 312px;
        flex-shrink: 1;
        max-width: 312px;
        img {
          width: 5rem;
        }
      }
    }
  }
}

@include generateStyleByBreakpoint("lg") {
  .page-trust {
    &__banner {
      height: 432px;
    }
    &__advance {
      margin-top: 140px;
      padding-top: 60px;
      padding-bottom: 100px;
      ul {
        max-width: 1200px;
        li {
          img {
            width: 3rem;
            height: 3rem;
          }
          min-height: 280px;
          flex-basis: 496px;
          &:nth-child(odd) {
            margin-right: 1.5rem;
          }
        }
      }
      h3 {
        font-size: 2.25rem !important;
      }
    }
  }
}
