@import "~styles/variables";
@import "~styles/utilities";

@include generateStyleByBreakpoint("sm") {
  .page-introduction {
    img {
      &:first-of-type {
        display: block !important;
      }
      &:last-of-type {
        display: none !important;
      }
    }
    &__container {
      max-width: 50rem;
    }
  }
}
