@import "~styles/variables";
@import "~styles/utilities";
@import "~styles/libary";

.component-footer {
  &__container {
    padding-bottom: 1.125rem;
  }
  &__terms {
    margin-top: 6.5rem;
  }
}

@each $level in map-keys($grid-breakpoints) {
  @include generateStyleByBreakpoint($level) {
    .component-footer {
      &__container {
        @if ($level == "lg") {
          height: 45.25rem;
          padding: 4.375rem 6.5rem 3.5rem;
        } @else if ($level == "sm") {
          height: 42.3125rem;
          padding: 4.375rem 1.25rem 1.125rem;
          img {
            height: 3.5rem;
          }
        }
        max-width: getContainerWidth($level);
      }
      &__menu {
        @if ($level == "lg") {
          &:not(:last-of-type) {
            margin-right: 4.375rem;
          }
          &:nth-last-of-type(2) {
            margin-right: 1.5rem;
          }
          &:last-of-type {
            margin-right: 0;
          }
        } @else if ($level == "sm") {
          &:not(:last-of-type) {
            margin-right: 1.875rem;
          }
        }
      }

      &__terms {
        @if ($level == "sm") {
          margin-top: 0;
        }
      }
    }
  }
}
