@import "~styles/variables";
@import "~styles/utilities";
@import "~styles/libary";

.component-footer {
  &__container {
    padding-bottom: 1.125rem;
  }
}

@include generateStyleByBreakpoint("sm") {
  .component-footer {
    &__container {
      height: 42.3125rem;
      padding: 4.375rem 1.25rem 1.125rem;
      img {
        height: 3.5rem;
      }
    }

    &__contact-info {
      max-width: 420px;
    }
  }
}

@include generateStyleByBreakpoint("lg") {
  .component-footer {
    &__container {
      height: 45.25rem;
      padding: 4.375rem 6.5rem 3.5rem;
    }

    &__contact-info {
      max-width: 481px;
    }
  }
}

@each $level in map-keys($grid-breakpoints) {
  @include generateStyleByBreakpoint($level) {
    .component-footer {
      &__container {
        max-width: getContainerWidth($level);
      }
    }
  }
}
